<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.suelliton.agita">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissão de localização -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_agita_burned"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Carrega a chave da api -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.AddUserActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.EventoActivity"
            android:label="Eventos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.AddEventoActivity"
            android:label="Adicionar evento"/>
        <activity android:name=".activity.AdminActivity" />
        <!--
        <receiver android:name=".utils.EventoBroadcast"
            android:enabled="true"
            android:exported="true"  >
            <intent-filter >
                <action android:name="android.intent.action.CAMERA_BUTTON"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </receiver>
        <service android:label="ServicoEventoGPS" android:enabled="true" android:name=".utils.ServicoEventoGPS" android:exported="true" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="SERVICO_EVENTO"/>
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </service>
        -->

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->

        <activity android:name=".activity.EditEventoActivity"
            android:label="Editar evento"/>
        <activity android:name=".activity.RecuperaActivity"
            android:label="Recuerar senha"></activity>
    </application>

</manifest>